* {
  text-align: center;
}
.heading {
  font-family: Arial;
  margin-top: 40vh;
}
.convert-button {
  font-size: 1.3em;
  padding: 5px 10px;
}
.convert-button {
  border-radius: 4px;
  border: 2px solid #0485ff;
  background: #0485ff;
  color: white;
  cursor: pointer;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 8em;
}
.select select {
  font-family: "Arial";
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0px solid #000000;
  border-radius: 4px;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000000;
  background: #cccccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}
